.sliderContainer {
  position: relative;
  width: 100%;
}

.slider {
  width: 100%;
  /* margin: 30px 50px 50px; */
}

.slick-slide {
  /* background: #3a8999; */
  color: white;
  /* padding: 80px 0 120px; */
  font-size: 30px;
  text-align: center;
}

/* .slick-prev:before,
.slick-next:before {
  color: black;
} */

.slick-dots {
  bottom: -30px;
}

.progressBarContainer {
  position: absolute;
  bottom: 50px;
  width:18%;
  left:41%;
}

.progressBarContainer div {
  display: block;
  width: 30%;
  padding: 0;
  cursor: pointer;
  margin-right: 5%;
  float: left;
  color: white;
  border-radius: 100px;
}
.progressBarContainer .item {
  border-radius: 100px;
}

.progressBarContainer div:last-child {
  margin-right: 0;
}

.progressBarContainer div span.progressBar {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
}

.progressBarContainer div span.progressBar .inProgress {
  background-color: rgba(255, 255, 255, 1);
  width: 0%;
  height: 4px;
}
.slidercontent{
  position: relative;
  padding: 0px;
}
.slidertext{
  position: absolute;
  top: 30%;
  text-align: left;
  padding: 20px;
  padding-left: 100px;
  width: 60%;
}
.slider-title{
  font-size: 56px;
  line-height: 52px;
}
/* Gradient Container */
.gradient-container {
  width: 500px;
  height: 500px;
  font: 900 5.5em sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

/* Background Gradient */
.gradient-background {
  background: linear-gradient(
    90deg,
    #4169e1,
    #5768df,
    #8164d7,
    #aa60c8,
    #cc60b3,
    #e3689c,
    #ed7889,
    #ee8c7e,
    #e99e7c,
    #e4ac7f,
    #e0b585,
    #deb887,
    orange
  );
  background-size: 200%;
  /* Background Text Clip */
  /* webkit vendor prefix start */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* webkit vendor prefix end */
  background-clip: text;
  animation: gradient-text-animation 6s alternate infinite;
  /* -webkit-animation: gradient-text-animation 3s alternate infinite; */
}

/* Gradient Text Animation */
@keyframes gradient-text-animation {
  from {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

/* Stripe Container */
.stripe-container {
  width: 500px;
  height: 500px;
  font: 900 5.5rem sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

/* Stripe Background Gradient */
.stripe-background {
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 20px,
      white 60px
    ),
    linear-gradient(
      10deg,
      royalblue,
      #5768df,
      #8164d7,
      #aa60c8,
      #cc60b3,
      #e3689c,
      #ed7889,
      #ee8c7e,
      #e99e7c,
      #e4ac7f,
      #e0b585,
      burlywood
    );
  /* Background Text Clip */
  /* webkit vendor prefix start */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* webkit vendor prefix end */
  background-clip: text;
  animation: stripe-text-animation 6s alternate infinite;
}

/* Stripe Text Animation */
@keyframes stripe-text-animation {
  from {
    background-position: 0 100px;
  }

  to {
    background-position: 300px 300px;
  }
}

.slider-para {
  font-size: 14px;
  line-height: 30px;
}
.sliderimage{
  width: 100%;
}
.sliderimage img{
  max-width: 100%;
}
@media only screen and (max-width: 767px){
  .slidertext{
    width: 100%;
    padding: 20px;
    padding-left: 20px;
  }
  .sliderContainer .slider{
    min-height: 400px !important;
  }
  .sliderimage img{
    /* min-height: 400px; */
    max-width: max-content;
  }
  .progressBarContainer {
    position: absolute;
    bottom: 50px;
    width:34%;
    left:33%;
  }
}

.outlineBtn {
    letter-spacing: 3px;
    font-weight: 600;
    padding: 10px 20px ;
    border: 2px solid #fff;
    border-right: 2px solid #fff;
    border-right: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}



/* line animation  */


.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.hoty{
  width:100px;
  height:100px;
}

.scroll-indicator {
  width: 18px;
  height: 30px;
  border: 1px solid rgba(178, 250, 255, 0.781);
  border-radius: 50px;
  position: absolute;
  bottom: 30px;
  left: 49.5%;
  box-shadow: 0px 0px 35px -5px rgba(109, 245, 222, 0.781);
}

.scroll-indicator::before {
  content: '';
  position: absolute;
  top: .5em;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: rgba(203, 248, 251, 0.781);
  border-radius: 50%;
  transform: translate(-50%, 0);
  animation: scrollAnim 1.8s .5s infinite ease-in;
  box-shadow: 0px 0px 35px -5px rgba(70, 255, 224, 0.781);
}

/* Animation */
@keyframes scrollAnim {
  0% {
    transform: translate(-50%, 0) rotateX(0);
    opacity: 0;
  }

  5% {
    opacity: .5;
  }

  15% {
    opacity: 1;
  }

  90%,
  100% {
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 30px) rotateX(30deg);
  }
}